{% extends 'base.html.twig' %}
{% form_theme registrationForm 'bootstrap_4_horizontal_layout.html.twig' %}
{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}


    <h1 style="text-align: center">Inscrire un participant</h1>



    {{ form_start(registrationForm) }}

<div class="row col-12 pt-2 mt-5">
    <div class="container align-items-center col-10 col-sm-8 col-md-6 col-lg-6 col-xl-3">
        <div class="form-group">
            <label for="">Nom :</label>
            <span style="color:red;">{{ form_errors(registrationForm.nom)}}
        {{ form_widget(registrationForm.nom) }}

        </div>

        <div class="form-group">
            <label for="">Prenom :</label>
            <span style="color:red;">{{ form_errors(registrationForm.prenom)}}
            {{ form_widget(registrationForm.prenom) }}

        </div>

        <div class="form-group">
            <label for="">Pseudo :</label>
            <span style="color:red;">{{ form_errors(registrationForm.pseudo)}}
                {{ form_widget(registrationForm.pseudo) }}

        </div>

        <div class="form-group">
            <label for="">Téléphone :</label>
            <span style="color:red;">{{ form_errors(registrationForm.telephone)}}
            {{ form_widget(registrationForm.telephone) }}

        </div>

        <div class="form-group">
            <label for="">Site de rattachement :</label>
            <span style="color:red;">{{ form_errors(registrationForm.siteRattachement)}}
            {{ form_widget(registrationForm.siteRattachement) }}

        </div>

        <div class="form-group">
            <label for="">Email :</label>
            <span style="color:red;">{{ form_errors(registrationForm.email)}}
            {{ form_widget(registrationForm.email) }}

        </div>

        <div class="form-group">
            <label for="">Mot de passe :</label>
            <span style="color:red;">{{ form_errors(registrationForm.plainPassword)}}
            {{ form_widget(registrationForm.plainPassword) }}

        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-lg btn-primary col-4 "type="submit">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

        {{ form_end(registrationForm) }}



{% endblock %}






