{% extends "base.html.twig" %}

{% block title %}Nouvelle sortie{% endblock %}

{% block message %}

{% endblock message %}

{% block body %}
    <div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <h3 class="alert-{{ label }} ">
                    {{ message }}
                </h3>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
        <h1>Créer une nouvelle sortie</h1>


    </div>


    {{ form_start(formSortie) }}

    <div class="row col-12 pt-2">
        <div class="container align-items-center col-10 col-sm-8 col-md-6 col-lg-6 col-xl-3">
            <div class="form-group">

                {{ form_label(formSortie.nom) }}
                <span style="color:red;">{{ form_errors(formSortie.nom)}}</span>
                    {{ form_widget(formSortie.nom, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(formSortie.dateHeureDebut) }}
                <span style="color:red;">{{ form_errors(formSortie.dateHeureDebut)}}</span>
                    {{ form_widget(formSortie.dateHeureDebut, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(formSortie.duree) }}
                <span style="color:red;">{{ form_errors(formSortie.duree)}}</span>
                    {{ form_widget(formSortie.duree, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(formSortie.dateLimiteInscription) }}
                <span style="color:red;">{{ form_errors(formSortie.dateLimiteInscription)}}</span>
                    {{ form_widget(formSortie.dateLimiteInscription, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(formSortie.nbInscriptionsMax) }}
                <span style="color:red;">{{ form_errors(formSortie.nbInscriptionsMax) }}</span>
                    {{ form_widget(formSortie.nbInscriptionsMax, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(formSortie.infosSortie) }}
                <span style="color:red;">{{ form_errors(formSortie.infosSortie)}}</span>
                    {{ form_widget(formSortie.infosSortie, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(formSortie.ville) }}
                <span style="color:red;">{{ form_errors(formSortie.ville)}}</span>
                    {{ form_widget(formSortie.ville, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(formSortie.lieu) }}
                <span style="color:red;">{{ form_errors(formSortie.lieu)}}</span>
            <div class="row d-flex ">
                <div class="col-7">
            {{ form_widget(formSortie.lieu, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-5">
            <a href="{{ path('sortie_create_lieu') }}" class="btn-sm btn-warning">Ajouter un lieu</a>
                </div>
                </div>
            </div>


            <div class="row justify-content-around mt-5 mb-5" align="center">


                {{ form_widget(formSortie.enregistrer, {'attr': {'class': 'btn btn-light'}}) }}
                {{ form_widget(formSortie.submit, {'attr': {'class': 'btn btn-primary'}}) }}

            </div>
        </div>
    </div>

    {{ form_end(formSortie) }}

    <script>
        // Executer le script seulement quand la page est chargée
        $(function() {
            //le path, est généré au niveau du serveur, on est obligé de lui donner un
            //identifiant qu'on manipulera après
            //Pour l'instant c'est 0, mais après on va lui mettre uneVille
            var url='{{ path('sortie_api_ville', {id:0}) }}';

            //id champ : sortie_form_ville

            // jQuery('#sortie_form_ville') $ est un alias

            // $('#sortie_form_ville').change(function(){
            //
            // }); équivalents
            $('#sortie_form_ville').on('change', afficherLieux);
            afficherLieux();
            function afficherLieux(){
                //On veut récuperer la valeur du champ sélectionné dans le select
                let uneVille = $('#sortie_form_ville').val();

                //Vider la liste des lieux (empty vide des éléments html)
                $('#sortie_form_lieu').empty();

                //Appel Ajax pour rechargement partiel de la page
                //Sert à appeler un serveur
                if(uneVille>0){
                    //Changement de l'url (attention, ne pas écraser la variable
                    //sinon, ça ne marchera qu'au chargement de la page)
                    let urlLieu=url.replace('0',uneVille);
                    console.log(urlLieu);
                    $.ajax({url:urlLieu}).done(function(data){
                        //Traitement des données qu'on a récupéré
                        for (const lieu of data) {
                            //Création d'un élément option
                            let o = $('<option/>',{value:lieu.id, html:lieu.nom});
                            $('#sortie_form_lieu').append(o);
                        }
                    })
                        .fail(function(){
                            console.log('erreur');
                        })
                }
            }

        });
        //Réussir à faire une API, vérfier qu'elle fonctionne
        //Ensuite faire le javascript et vérifier chaque étape qu'on manipule les données qu'on pense
        //étape par étape
    </script>
{% endblock %}