{% extends 'base.html.twig' %}
{% block title %}
Liste des sorties
{% endblock %}
{% block body %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Liste des sorties</h1>


    </div>
    <div class="text-center">
       <h6> Filtrer par site {{ form(formSearchSite) }}</h6>
    </div>
    <br>
    <div class="container">
    <div class="row align-items-center">


        {% for sortie in sorties %}
            <div class="container col-6 col-sm-4 col-md-3" style="align-content: center">
                <div class="card text-white bg-dark  text-center" style="max-width: 18rem;">
                    <h3 class="card-header text-light bg-dark"> {{ sortie.lieu.nom }}</h3>
                        <img src="https://saviezvous.fr/wp-content/uploads/2020/04/point-d-interrogation.jpg">
                    <div class="card-header">Organisée par {{ sortie.organisateur.nom }}</div>
                    <div class="card-body">
                        <h4 class="card-title">{{ sortie.nom }}</h4>
                        <div style= "overflow-x: hidden; overflow-y: scroll; border:#000000 1px solid; width: 220px; height: 150px;">
                        <p class="card-text">Date de début: {{ sortie.dateHeureDebut|date("m/d/Y") }}</p>
                        <p class="card-text">Date limite inscription: {{ sortie.dateLimiteInscription|date("m/d/Y") }}</p>
                        <p class="card-text">Info sortie: {{ sortie.infosSortie }}</p>
                        <p class="card-text">Temps estimé: {{ sortie.duree }}</p>
                        <p class="card-text">Nombre d'inscriptions Max: {{ sortie.nbInscriptionsMax }}</p>

                        </div>
                        {#Affichage du bouton Inscription#}

{#                        Contrôle de l'état de la sortie#}
                        {% if sortie.etat.libelle == "Annulée" %}
                            <button type="button" class="btn btn-danger">Annulée</button>
                        {% else %}
{#                        Initialisation des booléens #}
                            {% set afficherBouton = true %}
                            {% set cloture = false %}
                            {% set tropDePersonnes = false %}
                            {% set dejaInscrit = false %}
                            {% set organisateur = false %}
    {#                        Contrôle nombre de participants#}
                            {% if  sortie.NbInscriptionsMax <=0 %}
                                {% set afficherBouton = false %}
                                {% set tropDePersonnes = true %}
                            {% endif %}

    {#                        Contrôle sur la date/#}
                            {% set dateT = "now"|date("m/d/Y") %}
                            {% if  sortie.dateLimiteInscription|date("m/d/Y") < dateT %}
                                {% set afficherBouton = false %}
                                {% set cloture = true %}
                            {% endif %}

    {#                        Contrôle si je participe déjà#}
                            {% for maSortie in mesSorties %}
                                {% if  maSortie.id==sortie.id%}
                                    {% set afficherBouton = false %}
                                    {% set dejaInscrit = true %}
                                {% endif %}
                            {% endfor %}

                            {# Contrôle si je suis organisateur#}
                            {% if  sortie.organisateur== app.user%}
                                {% set organisateur = true %}
                                {% set dejaInscrit = true %}
                                {% set afficherBouton = false %}
                            {% endif %}


                            {% if  afficherBouton == true%}
                            <a href="{{ url('sortie_inscription',{'id': sortie.id})}}"><button type="button" class="btn btn-primary">S'inscrire</button></a>
                            {% elseif cloture %}
                            {#A REVOIR LES CONDITIONS#}
                                {% if dejaInscrit %}
                                    <button type="button" class="btn btn-success">Déjà inscrit</button>
                                    <a  href="{{ url('profile_liste',{'id': sortie.id})}}"><button type="button" class="btn btn-primary">Participants</button> </a>
                                {% else %}
                                <button type="button" class="btn btn-danger">Inscription cloturée</button>
                                {% endif %}
                            {% elseif dejaInscrit %}

                                {% if organisateur %}
                                    <a href="{{ url('sortie_annuler',{'id': sortie.id})}} )}}">
                                        <button type="button" class="btn btn-danger">Annuler sortie</button></a>
                                {% else %}
                                <a href="{{ url('sortie_se_desister',{'id': sortie.id})}} )}}"><button type="button" class="btn btn-warning">Se désister</button></a>
                                {% endif %}
                                <a  href="{{ url('profile_liste',{'id': sortie.id})}}"><button type="button" class="btn btn-primary">Participants</button> </a>
                            {% elseif tropDePersonnes %}
                                <button type="button" class="btn btn-warning">Sortie complète</button>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>
                <hr>
            </div>

        {% endfor %}

    </div>
    </div>
{% endblock %}