{% extends 'base.html.twig' %}
{% block title %}
Liste des sorties
{% endblock %}
{% block body %}

    <div class="text-center">
       Filtrer par site :  <h6 Filtrer par site {{ form(formSearchSite) }}</h6>
    </div>
    <br>
    <div class="row">
        {% for sortie in sorties %}
            <div class="container col-md-4 col-sm-6 centre">
                <div class="card text-white bg-dark  text-center" style="max-width: 18rem;">
                    <h3 class="card-header text-light bg-dark"> {{ sortie.lieu.nom }}</h3>
                        <img src="https://saviezvous.fr/wp-content/uploads/2020/04/point-d-interrogation.jpg">
                    <div class="card-header">{{ sortie.organisateur.nom }}</div>
                    <div class="card-body">
                        <h4 class="card-title">{{ sortie.nom }}</h4>
                        <p class="card-text">Date de début : {{ sortie.dateHeureDebut|date("m/d/Y") }}</p>
                        <p class="card-text">Date limite inscription : {{ sortie.dateLimiteInscription|date("m/d/Y") }}</p>
                        <p class="card-text">Info sortie{{ sortie.infosSortie }}</p>
                        <p class="card-text">Temps estimé : {{ sortie.duree }}</p>
                        <p class="card-text">Nombre d'inscriptions Max : {{ sortie.nbInscriptionsMax }}</p>
                        <button type="button" class="btn btn-primary">Inscription</button>

                    </div>
                </div>
                <hr>
            </div>

        {% endfor %}
    </div>
{% endblock %}